/* ---------- Key Features Icons */
.icon {
  animation: icon 1.5s ease-in-out;
}

@keyframes icon {
  0% {
    transform: scale(0);
  }
  15% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(0.9);
  }
  45% {
    transform: scale(1.05);
  }
  55% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1);
  }
}
